# Lines starting with '#' are considered comments.
# Ignore objects and archives.
*.[oa]
*.la
*.lo
.deps
*.libs
*~
Makefile
libtool

# Files produced by autoconf 

autom4te.cache
config.log
config.status
stamp-h1

