# Lines starting with '#' are considered comments.
# Ignore objects and archives.
*.[oa]
*.la
*.lo
.deps
*.libs
*~

# Files produced by autoconf 

Makefile
Makefile.in
configure
libtool
mgconfig.h.in
mgconfig.h

autom4te.cache
config.log
config.status
stamp-h1

